body {
  margin: 0;
  min-width: 1600px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1360px;
  background-color: #202020;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E4E4E4;
}

.link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #A9A9A9;
  text-decoration: none;
}

.header-wrapper {
  flex-grow: 0;
  display: flex;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 1600px;
  box-sizing: border-box;
  justify-content: space-between;
}

.header__logo {
  margin: 43px 0 0 85px;
}

.navigation {
  display: flex;
  margin-left: 82px;
}

.navigation-block {
  margin: 0 36px;
  padding-top: 78px;
  font-family: 'Raleway', sans-serif;
}

.navigation-block:first-child {
  margin-left: 0;
}

.navigation-block:last-child {
  margin-right: 0;
}

.navigation-block__element {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #E4E4E4;
}

.navigation-block__element_checked {
  font-weight: 600;
}

.phone-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #E4E4E4;
  text-decoration: none;
}

.phone-link-block {
  padding-top: 74px;
}

.info-block {
  margin-right: 100px;
  display: flex;
}

.basket-wrapper {
  margin: 70px 0 0 45px;
  position: relative;
}

.basket-wrapper__count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEFE;
  height: 15px;
  width: 15px;
  right: -7.5px;
  top: -3.36px;
}

.count__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.content-wrapper {
  flex-grow: 1;
  max-width: 1400px;
  margin: 0 auto 0;
}

.breadcrumbs {
  position: relative;
  padding: 0 0 16px 17px;
  margin: 36px 0 0;
}

.breadcrumbs::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  background: url('back-arrow.svg');
  width: 10px;
  height: 14px;
}

.breadcrumbs__link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #E4E4E4;
  text-decoration: none;
}

.content {
  display: flex;
  margin: 0 0 106px;
}

.product-image {
  width: 616px;
  height: 471px;
}

.product-description {
  margin: 0 40px;
  width: 332px;
}

.product-type {
  margin-bottom: 42px;
}

.product-type__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #FFF;
  margin-bottom: 10px;
}

.article-wrapper {
  display: flex;
}

.product-type__sub-title {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #E4E4E4;
  margin-right: 8px;
}

.product-type__article {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #E4E4E4;
}

.price {
  display: flex;
  margin-bottom: 26px;
}

.price__title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #E1E1E1;
  margin-right: 14px;
  padding-top: 4px;
}

.price__value {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #FFF;
}

.description__title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #E1E1E1;
  margin-bottom: 18px;
}

.description__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #E1E1E1;
}

.order-form {
  width: 372px;
  height: 471px;
  background: rgba(208, 208, 208, 0.05);
}

.order-form__field {
  margin: 20px 0 0 23px;
}

.color-wrapper {
  display: flex;
}

.order-form__title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #E1E1E1;
  margin-bottom: 15px;
}

.order-form__color {
  display: none;
}

.order-form__color-style {
  position: relative;
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.order-form__color-style::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.order-form__color-style_white::before {
  background-color: #E6E6E6;
}

.order-form__color-style_brown::before {
  background-color: #7E6767;
}

.order-form__color-style_blue::before {
  background-color: #656773;
}

.order-form__color:checked + .order-form__color-style::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  background: none;
  border: 2px solid #E3E3E3;
  top: -3px;
  left: -3px;
}

.order-form__field_line {
  display: flex;
  margin-top: 18px;
}

.counter {
  margin-left: 24px;
  display: flex;
}

.counter__decrement {
  width: 19px;
  height: 30px;
  background: none;
  border: 1px solid #9C9C9C;
  border-right: none;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.counter__decrement::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 8px;
  background-color: #FFF;
  top: 14.5px;
  left: 5.5px;
}

.counter__increment {
  width: 19px;
  height: 30px;
  background: none;
  border: 1px solid #9C9C9C;
  border-left: none;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.counter__increment::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 8px;
  background-color: #FFF;
  top: 14.5px;
  left: 5.5px;
}

.counter__increment::after {
  position: absolute;
  content: '';
  height: 8px;
  width: 1px;
  background-color: #FFF;
  top: 11px;
  left: 9px;
}

.counter__input {
  width: 37px;
  height: 30px;
  background: none;
  outline: none;
  border: 1px solid #9C9C9C;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFF;
}

.order-form__title_sections {
  margin-top: 4px;
}

.order-form__field_last {
  margin-top: 10px;
}

.order-form__checkbox {
  display: none;
}

.order-form__title_columns {
  position: relative;
}

.order-form__title_columns::before {
  position: absolute;
  content: '';
  width: 19px;
  height: 19px;
  border: 1px solid #9C9C9C;
  top: 0;
  left: 90px;
}

.order-form__field_submit {
  margin: 107px 0 0 53px;
}

.order-form__submit {
  width: 266px;
  height: 47px;
  background: none;
  border: 1px solid #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #E4E4E4;
  text-align: center;
  cursor: pointer;
}

.footer-wrapper {
  flex-grow: 0;
  background-color: #242424;
}

.footer {
  max-width: 1600px;
  margin: 140px auto 114px;
  display: flex;
  justify-content: space-between;
}

.contacts-block {
  width: 800px;
}

.contacts {
  padding-left: 100px;
}

.contacts:first-child {
  margin-bottom: 160px;
}

.contacts__heading-text {
  font-size: 36px;
  margin-bottom: 25px;
  letter-spacing: 1.08px;
  text-align: center;
}

.contacts-link-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.contacts-link-wrapper:last-child {
  margin-bottom: 0;
}

.contacts-link-wrapper__link {
  font-size: 24px;
  color: #A9A9A9;
  text-decoration: none;
}

.footer-form::before {
  content: '';
  position: absolute;
  height: 157px;
  width: 1px;
  background-color: #494949;
  top: 0;
  left: 0;
}

.footer-form {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
}

.right-wrapper {
  padding-right: 100px;
}

.right-wrapper__heading-text {
  width: 360px;
  font-size: 36px;
  letter-spacing: 1.08px;
  text-align: center;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.input-block__text-field {
  border: 0;
  width: 361px;
  height: 59px;
  box-sizing: border-box;
  background-color: #494949;
  padding: 19px 40px 18px 40px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  text-align: center;
  color: #E4E4E4;
}

.input-block__text-field:first-child {
  margin-bottom: 16px;
}

.input-block__text-field::placeholder {
  color: #898989;
}

.right-wrapper__button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 342px;
  height: 73px;
  margin: 0 auto;
  border: 2px solid #FFF;
  background: none;
  cursor: pointer;
}

.button__text {
  font-size: 24px;
}

.right-wrapper-block__button:active {
  width: 338px;
  height: 69px;
}

/* @media (max-width: 1599px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .container-wrapper {
    width: 530px;
    margin: 0 auto;
  }
  .text-wrapper {
    width: 530px;
    left: 0;
  }
} */
