body {
  margin: 0;
  min-width: 1600px;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1360px;
  background-color: #202020;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #E4E4E4;
}

.link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #A9A9A9;
  text-decoration: none;
}

.header-wrapper {
  flex-grow: 0;
  display: flex;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 1600px;
  box-sizing: border-box;
  justify-content: space-between;
}

.header__logo {
  margin: 43px 0 0 85px;
}

.navigation {
  display: flex;
  margin-left: 82px;
}

.navigation-block {
  margin: 0 36px;
  padding-top: 78px;
  font-family: 'Raleway', sans-serif;
}

.navigation-block:first-child {
  margin-left: 0;
}

.navigation-block:last-child {
  margin-right: 0;
}

.navigation-block__element {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #E4E4E4;
}

.navigation-block__element_checked {
  font-weight: 600;
}

.phone-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #E4E4E4;
  text-decoration: none;
}

.phone-link-block {
  padding-top: 74px;
}

.info-block {
  margin-right: 85px;
  display: flex;
}

.basket-wrapper {
  margin: 70px 0 0 45px;
  position: relative;
}

.basket-wrapper__count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEFE;
  height: 15px;
  width: 15px;
  right: -7.5px;
  top: -3.36px;
}

.count__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.content-wrapper {
  flex-grow: 1;
  background-color: #202020;
}

.content {
  margin: 0 auto;
  max-width: 1600px;
}

.content__heading-text {
  font-size: 40px;
  font-weight: 500;
  color: #EAEAEA;
  text-align: center;
  margin: 62px auto 0;
}

.content__text {
  font-size: 24px;
  text-align: center;
  width: 730px;
  letter-spacing: .96px;
  color: #E1E1E1;
  line-height: 33.94px;
  margin: 66px auto 0;
}

.container {
  margin: 65px auto 95px;
  display: flex;
  justify-content: space-between;
}

.picture-wrapper {
  position: relative;
}

.text-background {
  background-color: rgba(29, 29, 29, .56);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 108px;
  position: absolute;
  top: 125px;
}

.text-background__text {
  font-size: 48px;
  color: #FFF;
}

.footer-wrapper {
  flex-grow: 0;
  background-color: #242424;
}

.footer {
  max-width: 1600px;
  margin: 140px auto 114px;
  display: flex;
  justify-content: space-between;
}

.contacts-block {
  width: 800px;
}

.contacts:first-child {
  margin-bottom: 160px;
}

.contacts__heading-text {
  font-size: 36px;
  margin-bottom: 25px;
  letter-spacing: 1.08px;
  text-align: center;
}

.contacts-link-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.contacts-link-wrapper:last-child {
  margin-bottom: 0;
}

.contacts-link-wrapper__link {
  font-size: 24px;
  color: #A9A9A9;
  text-decoration: none;
}

.footer-form::before {
  content: '';
  position: absolute;
  height: 157px;
  width: 1px;
  background-color: #494949;
  top: 0;
  left: 0;
}

.footer-form {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
}

.right-wrapper__heading-text {
  width: 360px;
  font-size: 36px;
  letter-spacing: 1.08px;
  text-align: center;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.input-block__text-field {
  border: 0;
  width: 361px;
  height: 59px;
  box-sizing: border-box;
  background-color: #494949;
  padding: 19px 40px 18px 40px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  text-align: center;
  color: #E4E4E4;
}

.input-block__text-field:first-child {
  margin-bottom: 16px;
}

.input-block__text-field::placeholder {
  color: #898989;
}

.right-wrapper__button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 342px;
  height: 73px;
  margin: 0 auto;
  border: 2px solid #FFF;
}

.button__text {
  font-size: 24px;
}

.right-wrapper-block__button:active {
  width: 338px;
  height: 69px;
}

/* @media (max-width: 1599px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .container-wrapper {
    width: 530px;
    margin: 0 auto;
  }
  .text-wrapper {
    width: 530px;
    left: 0;
  }
} */
